@(jarToDebug: String, classes: Set[Clazz])

@main("Debugger"){

<script type="text/html" id="ws-url">@routes.Application.debug(jarToDebug).webSocketURL(request)</script>
<div class="row-fluid">
    <div class="span8">
        <h3>Current breakpoint</h3>
        <input type="button" id="nextButton" value="Next breakpoint"/>

        <div><span>Method:</span><strong id="methodName"></strong></div>
        <div>
            <h4>Arguments</h4>
            <ul id="arguments"></ul>
        </div>
        <div>
            <h4>Stacktrace</h4>
        <textarea id="stackTrace"></textarea>
        </div>
    </div>
    <div class="span4">
        <h3>Breakpoints selector</h3>
        <div id="tree">
            @for(klass <- classes) {
                <div class="klass">
                    <input type="checkbox" data-package=@klass.getPackageName() data-klass=@klass.getName() checked />
                    <span class="name">@klass.getName()</span>
                    <div class="methods">
						@for(method <- klass.getMethods()) {
	                         <div class="method">
	                             <input data-package=@klass.getPackageName() data-klass=@klass.getName() data-method=@method type="checkbox" checked/>
	                             <span class="name">@method</span>
	                         </div>
						}
                    </div>
                </div>
            }
        </div>
        <h3>Options</h3>
        <input type="checkbox" id="outside-debug" checked><span>Break outside package</span>
    </div>
</div>

}