@(jarToDebug: String, classes: Set[Clazz])

@main("Debugger"){

<div class="row-fluid">
    <div class="span8">
        <h3>Current breakpoint</h3>
        <input type="button" id="nextButton" value="Next breakpoint"/>

        <div><span>Method:</span><strong id="methodName"></strong></div>
        <div>
            <h4>Arguments</h4>
            <ul id="arguments"></ul>
        </div>
        <div>
            <h4>Stacktrace</h4>
        <textarea id="stackTrace"></textarea>
        </div>
    </div>
    <div class="span4">
        <h3>Breakpoints selector</h3>
        <div id="tree"></div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    (function ($) {
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
        var socket = new WS("@routes.Application.debug(jarToDebug).webSocketURL(request)");

        var methodSelector = new MethodSelector($('#tree'));

        var stackTrace = $('#stackTrace'),
                methodName = $('#methodName'),
                args = $('#arguments');

        var clear = function(){
            args.html('');
        };

        var sendMessage = function () {
            socket.send(JSON.stringify({
                text: "anything"
            }));
            clear();
        };

        var receiveEvent = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);
            stackTrace.val(data.stackTrace.join("\n,"));
            methodName.text(data.signature);
            $.each(data.arguments,function(_,argument){
              $('<li><input value="' + argument + '" disabled /></li>').appendTo(args);
            });
        };

        $(document).ready(function () {
            $("#nextButton").click(sendMessage);
        });

        socket.onmessage = receiveEvent;
    })(jQuery);
</script>
}