@(jarToDebug: String, classes: Set[Clazz])

@main("Debugger"){
<script type="text/javascript" charset="utf-8">
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	var socket = new WS("@routes.Application.debug(jarToDebug).webSocketURL(request)");

	function sendMessage() {
		socket.send(JSON.stringify({
			text : "anything"
		}));
	}
	
	function receiveEvent(event) {
        var data = JSON.parse(event.data);
        console.log(data);
	}
	
	$(document).ready(function(){
		$("#nextButton").click(sendMessage);
	});
	
	socket.onmessage = receiveEvent;
</script>

<div class="page-header">
	<h1>
		Hello
	</h1>
	<input type="button" id="nextButton" value="Next" />
</div>
}